/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400,700|Poiret+One|Roboto+Slab:300,400|Tangerine:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%;
  font-size: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.centerText {
  text-align: center; }

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.firstPage {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 24px;
  text-align: center; }
  .firstPage #animatedScroll {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20%; }
    .firstPage #animatedScroll .scrollDown {
      font-family: "Open Sans", serif;
      font-weight: 400;
      font-size: 1.25rem;
      -webkit-animation: color_change 1.5s infinite alternate;
      -moz-animation: color_change 1.5s infinite alternate;
      -ms-animation: color_change 1.5s infinite alternate;
      -o-animation: color_change 1.5s infinite alternate;
      animation: color_change 1.5s infinite alternate; }
@-webkit-keyframes color_change {
  from {
    color: #fadbd1; }
  to {
    color: white; } }
@-moz-keyframes color_change {
  from {
    color: #fadbd1; }
  to {
    color: white; } }
@-ms-keyframes color_change {
  from {
    color: #fadbd1; }
  to {
    color: white; } }
@-o-keyframes color_change {
  from {
    color: #fadbd1; }
  to {
    color: white; } }
@keyframes color_change {
  from {
    color: #fadbd1; }
  to {
    color: white; } }
  .firstPage h2 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #fff;
    float: middle;
    width: 100%;
    top: 5%;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.25rem; }
  .firstPage .header {
    font-family: "Oswald", sans-serif;
    width: 100%;
    padding: 0.5rem;
    display: inline-block;
    color: white;
    position: relative;
    top: 42vh; }
    .firstPage .header h1 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      padding-bottom: 0.5rem; }
  .firstPage .links {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;
    z-index: 3; }
    .firstPage .links a {
      color: #fff;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 1rem; }

#aboutMe {
  height: 100vh;
  overflow: auto; }
  #aboutMe .sidebar {
    border-right: 0.5px solid black;
    margin: 10vh 0 10vh 0;
    color: #000;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    height: 80vh;
    position: absolute;
    width: 30%; }
    #aboutMe .sidebar .links {
      margin-top: 30vh; }
      #aboutMe .sidebar .links a {
        color: #000;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 1rem; }
    #aboutMe .sidebar h1 {
      font-size: 2rem; }
  #aboutMe #aboutText {
    margin-left: 30%;
    line-height: 1.45; }
    #aboutMe #aboutText p {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      padding-left: 10%;
      width: 80%;
      margin: 0rem 0 1.5rem 0; }

.projects {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .projects .links {
    text-align: center;
    width: 100%;
    float: middle;
    position: absolute;
    bottom: 5%;
    z-index: 3; }
    .projects .links a {
      color: #fff;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 1rem; }
  .projects .container {
    width: 100%;
    min-height: 320px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 24px;
    overflow: auto;
    /* Modal Content */
    /* The Close Button */ }
    .projects .container .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      padding-top: 10vh;
      /* Location of the box */
        /*    left: 0;
top: 0;*/
      width: 100%;
      /* Full width */
      height: 100vh;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: black;
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */ }
    .projects .container .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      height: 70vh; }
    .projects .container .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold; }
    .projects .container .close:hover,
    .projects .container .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }
    .projects .container h1 {
      font-size: 3rem;
      padding: 0.5rem;
      display: inline-block;
      color: white;
      letter-spacing: 0.3rem;
      position: relative;
      top: 30vh; }
    .projects .container .bar {
      background-color: transparent;
      opacity: 1;
      width: 100%;
      margin: 0px;
      padding: 0px;
      position: relative;
      top: 64vh;
      display: inline-block; }
    .projects .container .btn {
      background-color: rgba(0, 0, 0, 0.25);
      font-family: "Poiret One", cursive;
      font-size: 1.25rem;
      width: 20rem;
      height: 4rem;
      margin: 0 auto;
      padding: 8px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 2px;
      outline: none;
      text-decoration: none;
      letter-spacing: 0.75rem; }
    .projects .container .btn:hover {
      letter-spacing: 1rem;
      color: #f2A088;
      border: 1px solid #f2A088; }
    .projects .container #slide1Header {
      font-family: "Oswald", sans-serif;
      color: rgba(0, 0, 0, 0.65); }
    .projects .container #slide2Header {
      font-family: "Oswald", sans-serif;
      color: rgba(0, 0, 0, 0.65); }
    .projects .container #slide3Header {
      font-family: "Oswald", sans-serif;
      color: rgba(0, 0, 0, 0.65); }
    .projects .container #slide4Header {
      font-family: "Oswald", sans-serif;
      color: rgba(0, 0, 0, 0.65); }

#contactForm {
  text-align: center; }
  #contactForm #ContactContainer {
    width: 100%; }
    #contactForm #ContactContainer h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 3rem;
      width: 100%;
      padding-bottom: 1rem; }
    #contactForm #ContactContainer h2 {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 2rem;
      padding-bottom: 0.75rem; }
    #contactForm #ContactContainer p {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      line-height: 1.45; }
    #contactForm #ContactContainer hr {
      width: 60%;
      margin-bottom: 1rem; }
  #contactForm .social {
    opacity: 0.6;
    margin: 1em 0 1em 0;
    height: 40px; }
  #contactForm .links {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    position: absolute;
    float: middle;
    bottom: 7.5%; }

/*# sourceMappingURL=style.css.map */
