@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$fColor: white;
$fAccent: #f2A088;
$fFamily: 'Open sans',
serif;
$contentPos: 70vh;
html,
body {
    height: 100%;
    font-family: $fFamily;
    font-size: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vertCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerText {
    text-align: center;
}

.firstPage {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 24px;
    .header {
        width: 100%;
        // background-color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        display: inline-block;
        color: $fColor;
        position: relative;
        top: 40vh;
        h1 {
            font-size: 3rem;
            letter-spacing: 0.5rem;
        }
        h2 {
            font-size: 1.5rem;
            letter-spacing: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }
    .fix-header {
        width: 100%;
        text-align: left;
        position: fixed;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
        height: 70px;
        h1 {
            padding-top: 10px;
            font-size: 2rem;
            letter-spacing: 0.25rem;
        }
        h2 {
            font-size: 1rem;
            letter-spacing: 0.1rem;
        }
    }
}

.links {
    width: 100%;
    text-align: right;
    position: fixed;
    top: 33px;
    right: 5px;
    margin-right: 10px;
    color: #fff;
    z-index: 1;
    a {
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.1rem;
        margin: 0 auto;
        padding: 0.25rem;
        outline: none;
        text-decoration: none;
    }
    a:hover {
        color: $fAccent;
    }
}

.sidebar {
    width: 40%;
    float: left;
    h2 {
        font-size: 2rem;
    }
}

.sticky {
    position: fixed;
    top: 0;
}

.about {
    height: 100vh;
    top: 40vh;
    margin-left: 40%;
    p {
        margin: 0 10% 0 10%;
        font-size: 2rem;
        padding: 0 0 2rem 0;
    }
}

.container {
    width: 100%;
    min-height: 320px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 24px;
    overflow: auto;
    h1 {
        font-size: 3rem;
        padding: 0.5rem;
        display: inline-block;
        color: $fColor;
        letter-spacing: 0.3rem;
        position: relative;
        top: 30vh;
    }
    .bar {
        background-color: rgba(0, 0, 0, 0);
        opacity: 1;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 30vh;
        position: relative;
        top: 64vh;
        display: inline-block;
    }
    .btn {
        background-color: rgba(0, 0, 0, 0.25);
        font-size: 1.25rem;
        width: 20rem;
        height: 4rem;
        margin: 0 auto;
        padding: 8px;
        color: #fff;
        border: 1px solid #fff;
        outline: none;
        text-decoration: none;
        letter-spacing: 0.75rem;
    }
    .btn:hover {
        letter-spacing: 1rem;
        color: $fAccent;
        border: 1px solid $fAccent;
    }
}

.contact {
    height: 100vh;
}

@media only screen and (min-width: 300px) and (max-width: 480px) {
    .firstPage {
        // width: 100%;
        // height: 100vh;
        // background-image: url("/img/test.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: 50% 50%;
        font-size: 0.5rem;
        // .header {
        //     width: 100%;
        //     // // background-color: rgba(0, 0, 0, 0.5);
        //     // padding: 0.5rem;
        //     // display: inline-block;
        //     // color: $fColor;
        //     // position: relative;
        //     // top: 40vh;
        // text-align: center;
        //     h1 {
        //         font-size: 2.5rem;
        //         // letter-spacing: 0.5rem;
        //     }
        //     h2 {
        //         // font-size: 1rem;
        //         // letter-spacing: 0.25rem;
        //         // padding-bottom: 0.25rem;
        //     }
        // }
        .header {
            width: 100%;
            text-align: left;
            position: fixed;
            top: 0px;
            background-color: rgba(0, 0, 0, 0.75);
            z-index: 1;
            h1 {
                margin-top: 3px;
                font-size: 1rem;
                letter-spacing: 0.1rem;
            }
            h2 {
                font-size: 0.5rem;
                letter-spacing: 0.1rem;
                margin-bottom: 0px;
            }
        }
    }
    .links {
        width: 100%;
        text-align: right;
        position: fixed;
        top: 17px;
        right: 10px;
        margin-right: 10px;
        z-index: 1;
        a {
            background-color: rgba(0, 0, 0, 0);
            font-size: 1rem;
            margin: 0 auto;
            padding: 0.25rem;
            color: #fff;
            outline: none;
            text-decoration: none;
        }
        a:hover {
            color: $fAccent;
        }
    }
    .container {
        //     width: 100%;
        //     min-height: 320px;
        //     height: 100vh;
        //     background-size: cover;
        //     background-repeat: no-repeat;
        //     background-position: 50% 50%;
        //     text-align: center;
        //     font-size: 24px;
        //     overflow: auto;
        h1 {
            //         padding: 0.5rem;
            //         font-size: 3rem;
            //         display: inline-block;
            //         color: $fColor;
            //         letter-spacing: 0.3rem;
            //         position: relative;
            //         top: 30vh;
        }
        .bar {
            //         //color
            //         background-color: #333333;
            //         opacity: 0.95;
            //         //size
            //         width: 100%;
            //         margin: 0px;
            //         padding: 0px;
            height: 20vh;
            //         //position
            //         position: relative;
            top: 71.5vh;
            //         display: inline-block;
        }
        .btn {
            //         background-color: rgba(0, 0, 0, 0.25);
            //         font-size: 1.25rem;
            width: 80%;
            //         height: 4rem;
            //         // centering
            //         position: relative;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         margin: 0 auto;
            //         padding: 8px;
            //         //border
            //         color: #fff;
            //         border: 1px solid #fff;
            //         text-align: center;
            //         outline: none;
            //         text-decoration: none;
            //         letter-spacing: 0.75rem;
        }
        .btn:hover {
            //         letter-spacing: 1rem;
            //         color: $fAccent;
            //         border: 1px solid $fAccent;
        }
    }
}
