/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400,700|Poiret+One|Roboto+Slab:300,400|Tangerine:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%;
  font-size: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.centerText {
  text-align: center; }

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.firstPage {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 24px;
  text-align: center; }
  .firstPage h2 {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    color: #fff;
    float: middle;
    width: 100%;
    top: 5%;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.25rem; }
  .firstPage .header {
    font-family: "Oswald", sans-serif;
    width: 100%;
    padding: 0.5rem;
    display: inline-block;
    color: white;
    position: relative;
    top: 40vh; }
    .firstPage .header h1 {
      font-size: 3rem;
      letter-spacing: 0.5rem;
      padding-bottom: 0.5rem; }

#aboutMe {
  height: 100vh;
  overflow: auto; }
  #aboutMe .sidebar {
    background-color: #414143;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    height: 100vh;
    position: absolute;
    width: 40%; }
    #aboutMe .sidebar .links {
      margin-top: 30vh; }
      #aboutMe .sidebar .links a {
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 1rem; }
    #aboutMe .sidebar h1 {
      font-size: 2rem; }
  #aboutMe #aboutText {
    margin-left: 40%; }
    #aboutMe #aboutText p {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      padding-left: 5%;
      width: 90%;
      margin: 0rem 0 1.5rem 0; }

.projects .links {
  text-align: center;
  width: 100%;
  float: middle;
  position: absolute;
  bottom: 5%;
  z-index: 3; }
  .projects .links a {
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 1rem; }
.projects .container {
  width: 100%;
  min-height: 320px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-size: 24px;
  overflow: auto; }
  .projects .container h1 {
    font-size: 3rem;
    padding: 0.5rem;
    display: inline-block;
    color: white;
    letter-spacing: 0.3rem;
    position: relative;
    top: 30vh; }
  .projects .container .bar {
    background-color: transparent;
    opacity: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 64vh;
    display: inline-block; }
  .projects .container .btn {
    background-color: rgba(0, 0, 0, 0.25);
    font-family: "Poiret One", cursive;
    font-size: 1.25rem;
    width: 20rem;
    height: 4rem;
    margin: 0 auto;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.75rem; }
  .projects .container .btn:hover {
    letter-spacing: 1rem;
    color: #f2A088;
    border: 1px solid #f2A088; }
  .projects .container #slide1Header {
    font-family: "Oswald", sans-serif;
    color: rgba(0, 0, 0, 0.65); }
  .projects .container #slide2Header {
    font-family: "Oswald", sans-serif;
    color: rgba(0, 0, 0, 0.65); }
  .projects .container #slide3Header {
    font-family: "Oswald", sans-serif;
    color: rgba(0, 0, 0, 0.65); }
  .projects .container #slide4Header {
    font-family: "Oswald", sans-serif;
    color: rgba(0, 0, 0, 0.65); }

#contactForm {
  text-align: center; }
  #contactForm #ContactContainer {
    width: 100%; }
    #contactForm #ContactContainer h1 {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      font-size: 3rem;
      float: left;
      width: 100%;
      padding-bottom: 1rem; }
    #contactForm #ContactContainer hr {
      width: 60%;
      margin-bottom: 1rem; }
    #contactForm #ContactContainer label {
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    #contactForm #ContactContainer input {
      text-align: center;
      width: 40%;
      background-color: transparent;
      border: 0px solid;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    #contactForm #ContactContainer textarea {
      text-align: center;
      width: 40%;
      background-color: transparent;
      border: 0px solid;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
    #contactForm #ContactContainer .btn {
      background-color: rgba(0, 0, 0, 0.25);
      font-family: "Poiret One", cursive;
      font-weight: 300;
      font-size: 0.75rem;
      width: 20rem;
      height: 2rem;
      margin: 0 auto;
      padding: 8px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 2px;
      outline: none;
      text-decoration: none;
      letter-spacing: 0.75rem;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0; }
    #contactForm #ContactContainer .btn:hover {
      background-color: rgba(0, 0, 0, 0.75);
      letter-spacing: 0.8rem;
      color: #f2A088;
      border: 1px solid #f2A088; }
  #contactForm .links {
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    position: absolute;
    float: middle;
    bottom: 7.5%; }
  #contactForm #social {
    opacity: 0.6;
    margin: 2em 0 2em 0;
    height: 40px; }

/*# sourceMappingURL=style.css.map */
